name: Latest YouTube Videos

on:
  schedule:
    # Runs every day at 10:30 IST (5 UTC)
    - cron: "0 5 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-readme-with-youtube:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          comment_tag_name: "YOUTUBE"
          feed_list: https://www.youtube.com/feeds/videos.xml?channel_id=UCX-YG3i-PgGHHToD7b2kCvg
